../.bash_history
../.bash_logout
../.bash_profile
../.bashrc
../.bashrc.bak
../.beast/
../.cache/
../.checkm/
../.conda/
../.condarc
../.emacs
../.gitconfig
../.java/
../.lesshst
../.lmod.d/
../.local/
../.ncbi/
../.nextflow.log
../.nextflow/
../.parallel/
../.singularity/
../.spack/
../.ssh/
../.vim/
../.viminfo
../.vimrc
../GWAS_test/
./
../TC113447_R1.fastq.gz
../TC113447_R2.fastq.gz
../TC113968_R1.fastq.gz
../TC113968_R2.fastq.gz
../analysis_script
../angsd_tutorial/
../arthur/
../checkm_test_results/
../ckhem/
../gm_covid/
../gmboowa/
../goorrheae/
../grace.coalre.sh
../issues
../jm_tb/
../maria/
../my_plot_env/
../nabakooza/
../nabisubi/
../ncbi/
../ncbi_error_report.txt
../rMAP/
../recess/
../reqs.yaml
../seq_analy/
../slurm-211.out
../spec-file.txt
../tbdb/
../test1.txt
../wilson/
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrc.bak
.beast/
.cache/
.checkm/
.conda/
.condarc
.emacs
.gitconfig
.java/
.lesshst
.lmod.d/
.local/
.ncbi/
.nextflow.log
.nextflow/
.parallel/
.singularity/
.spack/
.ssh/
.vim/
.viminfo
.vimrc
GWAS_test/
Group2_recess/README.md
TC113447_R1.fastq.gz
TC113447_R2.fastq.gz
TC113968_R1.fastq.gz
TC113968_R2.fastq.gz
analysis_script
angsd_tutorial/
arthur/
checkm_test_results/
ckhem/
gm_covid/
gmboowa/
goorrheae/
grace.coalre.sh
issues
jm_tb/
maria/
my_plot_env/
nabakooza/
nabisubi/
ncbi/
ncbi_error_report.txt
rMAP/
recess/
reqs.yaml
seq_analy/
slurm-211.out
spec-file.txt
tbdb/
test1.txt
wilson/
scripts/*out
scripts/*err
Data/raw/*
Data/results/*
Data/done.txt
Data/undone.txt
../.gitignore
clermon/
